<!DOCTYPE html>
<html>
<head>
    <title>Panel receptionist</title>
</head>
<body>
    <h2>All chat users</h2>
    <ul>
        {% for chat in conversations %}
            <li>
                User <b>{{ chat.buyer.username }}</b> talks about  
                <a href="{% url 'chat_owner_admin' chat.id %}">
                    {{ chat.car.title }}
                </a>
            </li>
        {% empty %}
            <li>No any active chat yet!</li>
        {% endfor %}
    </ul>
</body>
</html>