{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>
<body>

<h2>Chat - {{ car.title }}</h2>

{% if request.user.is_superuser %}
    <p><a href="{% url 'chat_admin_list' %}">← Назад к списку всех чатов</a></p>
{% endif %}

<div style="border:1px solid #ccc; padding:10px; height:300px; overflow:auto;">

    {% for m in messages %}
        <p>
            <b {% if m.sender == request.user %}style="color: blue;"{% endif %}>
                {{ m.sender.username }}:
            </b> 
            {{ m.text }}
        </p>
    {% empty %}
        <p>No messages</p>
    {% endfor %}

</div>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="message" placeholder="Write..." required>
    <button type="submit">Send</button>
</form>
</body>
</html>