{% extends 'cars/base.html' %}

{% block main_content %}

<section class="about">

<h1>

Welcome To OrderCar

</h1>

<p>

OrderCar helps people find their dream car.

You can search cars, compare models,
buy vehicles, take credits,
save favorites and communicate
with sellers.

</p>


<h2>

Why Choose Us?

</h2>

<ul>

<li>

Large collection of vehicles

</li>

<li>

New, Used and Damaged Cars

</li>

<li>

Fast delivery system

</li>

<li>

Flexible credit options

</li>

<li>

Trusted reviews

</li>

</ul>


<h2>

Our Mission

</h2>

<p>

Our goal is to make buying
cars easier, faster and safer.

</p>

</section>

{% endblock %}