{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderCar</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <header>
        <nav>
            <nav>
                {% if request.user.is_authenticated %}
                <a href="{% url 'home' %}">
                    Home
                </a>

                <a href="{% url 'search' %}">
                    Search
                </a>

                <a href="{% url 'about' %}">
                    About Us
                </a>




                <a href="{% url 'profile' %}">
                    Profile
                </a>

                <a href="{% url 'logout_user' %}">
                    Logout
                </a>

                <a href="{% url 'ai_help' %}">

                    AI Assistant

                </a>

                {% else %}
                <p>You dont have an account so you can --></p>
                <a href="{% url 'login_user' %}">
                    Login
                </a>

                <a href="{% url 'register' %}">
                    Register
                </a>

                {% endif %}

            </nav>


        </nav>

        <div>



        </div>
    </header>

    {% block main_content %}
    Default main..........
    {% endblock %}


    <footer>
        Copyright 2026......
    </footer>

</body>

</html>