{% extends 'cars/base.html' %}

{% block main_content %}

<h1>{{ model.name }}</h1>

<form method="GET">

    <select name="status">

        <option value="">All Status</option>

        <option value="new">New</option>
        <option value="used">Used</option>
        <option value="damaged">Damaged</option>

    </select>

    <select name="fuel">

        <option value="">Fuel Type</option>

        <option value="petrol">Petrol</option>
        <option value="diesel">Diesel</option>
        <option value="hybrid">Hybrid</option>
        <option value="electric">Electric</option>

    </select>

    <select name="transmission">

        <option value="">Transmission</option>

        <option value="automatic">Automatic</option>
        <option value="manual">Manual</option>

    </select>

    <button type="submit">
        Filter
    </button>

</form>

<hr>

<div>

    {% for car in cars %}

        {% comment %} <a href="{% url 'car_detail' car.id %}"> {% endcomment %}

            {% with car.images.first as image %}

                {% if image %}
                    <img
                        src="{{ image.image.url }}"
                        width="250"
                    >
                {% endif %}

            {% endwith %}

            <h2>{{ car.title }}</h2>

            <p>${{ car.price }}</p>

            <p>{{ car.year }}</p>

            <p>{{ car.status }}</p>

        </a>

        <hr>

    {% endfor %}

</div>

{% endblock %}